@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

div img{
    display: block;
    width: 100%;
}

.flex-container{
    display: flex;
    max-width: 1000px;
    margin: auto;
    width: 100%;
}

/***Header Style***/

header{
    background-color: rgb(20, 20, 139);
    height: 100px;
    display: flex;
    align-items: center;
}

header .menu{
    color: white;
    justify-content: space-between;
}

header .list-item{
    display: flex;
    text-transform: uppercase;
    max-width: 300px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header ul li a{
    text-decoration: none;
    color: white;
    transition: 1s;
}

header ul li a:hover{
    background-color: white;
    color: rgb(20, 20, 139);
    border-radius: 10px;
    padding: 10px;

}

/***Main Style***/

/***bloco 1***/
.saiba-mais{
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}

#flex{
    font-size: 46px;
    color: rgb(20, 20, 139);
    padding-bottom: 5px;
}

.saiba-mais p{
    padding-bottom: 20px;
}

#btn{
    text-decoration: none;
    display: block;
    width: 210px;
    background-color: rgb(20, 20, 139);
    color: rgb(255, 253, 253);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    transition: 1s;
}

#btn:hover{
    background-color: rgb(126, 235, 18);
    color: rgb(20, 20, 139);
}

/***bloco 2***/
.quem-somos{
    max-width: 300px;
    text-align: left;
}

.quem-somos h2{
    font-size: 40px;
    color: rgb(20, 20, 139);
    margin-left: -10px;
    padding-bottom: 20px;
}

/***bloco 3***/

.b3{
    background-color: rgb(20, 20, 139);
}

.bloco3{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.bloco3 p{
    color: white;
    padding: 20px 0 30px;
}

#servicos{
    flex-direction: column;
    padding: 50px 0 100px;
}

#servicos h2{
    color: white;
    font-size: 32px;
    margin-bottom: 20px;
}

.list-servicos{
    display: flex;
    justify-content: space-between;
}

.item-servico{
    text-align: center;
}

.item-servico a{
    text-decoration: none;
    font-weight: 700;
    color: rgb(20, 20, 139);
    background-color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 15px;
    transition: 1s;
}

.item-servico a:hover{
    background-color: rgb(126, 235, 18);
    color: rgb(20, 20, 139);
}

/***bloco 4***/

#planos{
    height: 100vh;
    align-items: flex-end;
    text-align: justify;
    margin-bottom: 300px;
    justify-content: space-around;

}

.bloco4{
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 3px solid rgb(20, 20, 139);
    margin: 10px;
    max-width: 240px;
    
}

.bloco4 h3{
    font-size: 25px;
    padding: 25px;
    text-align: center;
    border-bottom: 3px solid rgb(20, 20, 139);
    margin: 0 50px 0 50px;
}

.bloco4 ul{
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
}

.bloco4 ul li{
    padding-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.bloco4 ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: rgb(20, 20, 139);
    margin-right: 10px;
}

.btn{
    text-decoration: none;
    display: block;
    width: 210px;
    background-color: rgb(20, 20, 139);
    color: rgb(255, 253, 253);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 30px;
    transition: 1s;
}

.btn:hover{
    background-color: rgb(126, 235, 18);
    color: rgb(20, 20, 139);
}

footer{
    background-color: rgb(20, 20, 139);
    height: 60px;
    display: flex;
    align-items: center;
}

.footer{
    color: white;
    justify-content: space-between;
}